.site-add {
    width: 80%;
    margin: 0 auto;
    padding: 10px;

    .site-add-input {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        width: 100%;
    }

    .site-add-submit {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        width: 100%;
    }
}